*,
::before,
::after {
	box-sizing: border-box;
}

html {
	box-sizing: inherit;
	font-size: 1rem;
}

body {
	padding: 0;
	margin: 0;
}

header {
	border: 2px solid black;
}

main {
	border: 2px solid black;

	section {
		border: 2px solid black;
	}
}

footer {
	border: 2px solid black;
}
