/* -------------------------------------------------------------------------- */
/*                                   B A S E                                  */
/* -------------------------------------------------------------------------- */

*,
::before,
::after {
	box-sizing: border-box;
}

html {
	box-sizing: inherit;
	font-size: 1rem;
}

body {
	padding: 0;
	margin: 0;
	background-color: white;
	font-family: Arial, Helvetica, sans-serif;
}

ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
}
