/* -------------------------------------------------------------------------- */
/*                                 L A Y O U T                                */
/* -------------------------------------------------------------------------- */

@import '../3-utilities/utilities';

.l-nav-container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	max-width: 100vw;
	background-color: white;
	z-index: 1;
	height: auto;
	text-align: center;

	h2 {
		img {
			width: 8%;
		}
	}

	.l-nav-menu {
		.l-nav-link {
			padding: toRem(2px);
		}
	}
}

main {
	padding-top: 25vh;
	padding-left: toRem(15px);
	padding-right: toRem(15px);

	.l-first-section {
		text-align: center;

		button {
			margin: toRem(10px) 0px;
			display: block;
			margin: 10px auto;
		}
	}

	.l-second-section {
		text-align: center;

		@media screen and (min-width: toRem(550px)) {
			text-align: start;
		}

		.l-feature {
			display: flex;
			flex-direction: row;

			@media screen and (min-width: toRem(550px)) {
				align-items: stretch;
				div:nth-child(1) {
					text-align: center;
				}
				img {
					width: 40%;
					max-width: toRem(102px);
					margin-right: 20px;
				}
			}
		}
	}

	.l-third-section {
		iframe {
			max-width: 100%;
		}
	}

	.l-fourth-section {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: toRem(20px);
		.l-card {
			text-align: center;
			border: 1px solid black;
			width: 80%;
			margin-bottom: toRem(20px);

			button {
				margin-bottom: toRem(20px);
			}
		}
	}

	footer {
		text-align: right;
		.l-footer-menu {
			display: flex;
			flex-direction: row;
			justify-content: flex-end;

			.footer-link {
				padding: toRem(5px);
			}
		}
	}
}
