/* -------------------------------------------------------------------------- */
/*                                 L A Y O U T                                */
/* -------------------------------------------------------------------------- */

@import '../3-utilities/utilities';

.l-nav-container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	max-width: 100vw;
	background-color: white;
	z-index: 1;
	height: auto;
	text-align: center;

	h2 {
		img {
			width: toRem(30px);
		}
	}

	.l-nav-menu {
		.l-nav-link {
			padding: toRem(2px);
		}
	}
}

@media screen and(min-width: toRem(550px)) {
	.l-nav-container {
		display: flex;
		justify-content: space-around;
		align-items: center;
		.l-nav-menu {
			padding-top: toRem(10px);
		}

		@media screen and (min-width: toRem(700px)) {
			.l-nav-menu {
				display: flex;
			}
		}
	}
}

main {
	padding-top: 40vh;
	padding-left: toRem(15px);
	padding-right: toRem(15px);
	max-width: 60em;
	margin: auto;

	.l-first-section {
		text-align: center;
		margin: 0 auto toRem(50px);

		button {
			display: block;
			margin: 10px auto;
		}
	}

	.l-second-section {
		text-align: center;

		@media screen and (min-width: toRem(550px)) {
			text-align: start;
		}

		.l-feature {
			display: flex;
			flex-direction: row;

			div {
				margin: toRem(20px) 0;
				padding: 0;
			}

			@media screen and (min-width: toRem(550px)) {
				align-items: stretch;
				div:nth-child(1) {
					text-align: center;
				}
				img {
					width: 40%;
					max-width: toRem(102px);
					margin-right: 20px;
				}
			}
		}
	}

	.l-third-section {
		margin: toRem(30px) auto;
		text-align: center;
		iframe {
			max-width: 100%;
		}
	}

	.l-fourth-section {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: toRem(20px);
		.l-card {
			text-align: center;
			border: 1px solid black;
			width: 80%;
			margin-bottom: toRem(20px);

			button {
				margin-bottom: toRem(20px);
			}
		}
	}

	@media screen and (min-width: toRem(700px)) {
		.l-fourth-section {
			flex-flow: row wrap;
			justify-content: space-around;

			.l-card {
				flex: 1 1 30%;
				margin: 0 toRem(10px);
				margin-bottom: toRem(20px);
			}
		}
	}

	footer {
		text-align: right;
		.l-footer-menu {
			display: flex;
			flex-direction: row;
			justify-content: flex-end;

			.footer-link {
				padding: toRem(5px);
			}
		}
	}
}

@media screen and (min-width: toRem(700px)) {
	main {
		padding-top: 20vh;
	}
}
